---
import Socials from "../components/Socials.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>kyle thieringer (he/him)</p>
    
    <p>
      i am a grad student at the university of washington in the labs of <a
        href="https://www.ahmedlab.science"
        target="_blank"
        class="text-[#41550A] font-[575] hover:underline hover:text-[#B6A12B] dark:text-[#B6A12B] dark:hover:text-[#41550A] hover:scale-105"
        >sama ahmed</a
      > and <a
        href="https://faculty.washington.edu/tuthill/"
        target="_blank"
        class="text-[#41550A] font-[575] hover:underline hover:text-[#B6A12B] dark:text-[#B6A12B] dark:hover:text-[#41550A] hover:scale-105"
        >john tuthill</a
      >.
    </p>
    <p>
      im currently working on a project to understand how flies regulate
      power output during flight. During take off and landing, the flight  
      motor transitions very quickly. During flight, flies perform various 
      acrobatic maneuvers which require precise modulation of power to meet 
      the distinct aerodynamic demands on the wings. To figure this out, I 
      am using a combination of connectomics, tethered flight experiments, 
      and in vivo patch clamp electrophysiology. 
    </p>

    <Socials />
  </main>
</Layout>
