---
import Socials from "../components/Socials.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>kyle thieringer (he/him)</p>
    
    <p>
      i am a grad student at the university of washington in the labs of <a
        href="https://www.ahmedlab.science"
        target="_blank"
        class="text-[#41550A] font-[575] hover:underline hover:text-[#B6A12B] dark:text-[#B6A12B] dark:hover:text-[#41550A] hover:scale-105"
        >sama ahmed</a
      > and <a
        href="https://faculty.washington.edu/tuthill/"
        target="_blank"
        class="text-[#41550A] font-[575] hover:underline hover:text-[#B6A12B] dark:text-[#B6A12B] dark:hover:text-[#41550A] hover:scale-105"
        >john tuthill</a
      >.
    </p>
    <p>
      im currently working on a project to understand how brains stop behavior.
      im interested in figuring out how these mechanisms lead to behavioral
      flexibility, task switching, multi-tasking, etc. which all require
      precise control over locomotion—either persisting through minor
      perturbations or stopping the current motor programs. to address this
      question, im using the drosophila flight motor because it is compact,
      genetically accessible, and drives a beautifully robust behavior. plus,
      flies are the most complex animal with a fully mapped nervous system.
    </p>

    <Socials />
  </main>
</Layout>
