---
import { EMAIL } from "../consts";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="mb-6 flex items-center justify-between" transition:name="header">
  <nav class="flex items-center gap-4">
    <a href="/">home</a>
    <a href="/cv.pdf">cv</a>
    <a href="https://notes.kylethieringer.com">notes</a>
  </nav>
  <ThemeToggle />
</header>

<style>
  a {
    @apply text-[#41550A] font-[575] hover:underline hover:text-[#B6A12B] dark:text-[#B6A12B] dark:hover:text-[#41550A] hover:scale-105;
  }
</style>
